<app-header></app-header>

<a [routerLink]="[{outlets: {popup: 'login'}}]">Show popup login</a>
<br/>
<a [routerLink]="[{outlets: {popup: null}}]">Hide popup</a>
<br/>
<a routerLink="admin">Lazy load module amdin</a>
<br/>
<a routerLink="user-form">User form</a>

<div class="content" role="main">
  <!-- Resources -->
  <h2>Resources</h2>

  <div appColory #coloryCtrl="colory">colory directive</div>
  <input type="text" (input)="coloryCtrl.setColor($event.target.value)"/>

  <div *appDelay>delay directive</div>

  <!-- Footer -->
  <footer></footer>
</div>

<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
